html, body {
    background-color: rgb(32, 33, 51);
    color: gainsboro;
}

body {
    display: flex;
    align-items: start;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    overflow-y: scroll;
}

#ins {
    color: gainsboro;
    padding: 2px 4px 2px 4px;
    font-family: consolas;
    font-size: 12px;
    height: 4em;
}